/* .App {
  text-align: center;
} */

html,
body {
  background:#000 url('img/bg2.jpg')  center center/cover;
  height: 100vh;
  color:#fff;
  font-family: 'Cambria', 'Garamond', 'Goudy Old Style', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Fira Sans', 'Droid Sans',
    sans-serif;
}

a{
  color:white;
  text-decoration: none;
}

img{
  object-fit: contain;
}