.bakg {
  display: block;
  height: 100%;
  width: 30vw;
  background-color: grey;
  opacity: 90%;  
  padding: 1rem 7rem 4rem 7rem;
  margin-left: 27vw;
  
}
.bannerText {
  font-size: 2.3rem;    
  font-style: italic;
}
.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  opacity: 90%;
  height: 100%;
  font-size: 1.1rem;
}
.buttons {
  display: flex;
  background-color: black;
  opacity: 80%;
  padding: 2rem;
  margin: 2rem;
  border-radius: 10px;
}
.textButton {
  font-size: 1rem;
}
.esp {
  width: 20px;
}
.cont2 {
  display: flex;
  margin-left: 10rem;
  margin-top: 0;
  padding: 0;
}
.titleAdd {
  font-size: 3rem;
  color: blue;
}
.danger{
  color: red;
  font-size: 1rem;
}
.valid{
  color: green;
  font-size: 1rem;
}
.dangerInp{
  color: red;
  font-size: 0.7rem;
  background-color: #FDEDEC;
}
.validInp{
  color: green;
  font-size: 0.7rem;
  background-color: #D5F5E3;
}
.inpt{
  margin: 1rem;
  color: white;
}
.boxClose {
  display: block;
  flex-direction: row-reverse;
}
.itemClose {
  display: flex;
  height: 20px;
  align-items: center;
}
.step {
  width:400px;
  height:80px;
}
.ingyeq {
  width:400px;
  height:15px;
}
.box7 {
  background-color: black;
  opacity: 80%;
  border-radius: 15px;
}