.CharacterDetail {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


.CharacterDetailPhoto{
    width: 40%;
    height: 100%;
}

.change {
  margin-bottom:  30px;

}



.likeContainer{
  filter: url('#filter');
  position: absolute; 
  left: 50%; 
  top: 50%; 
  transform: translate(50%, -50%);
}
.likeCnt{  
  position: absolute; 
  cursor: pointer;
  left: 50%; 
  top: 100%; 
  transform: translate(50%, -50%);     
  background: rgba(255,255,255,0.3);     
  width: 60px; 
  height: 60px;  
  border-radius: 50%;
  text-align: center;
  line-height: 75px;
  z-index: 10;
}
.likeBtn{
  color: #fff;
}

.gpHeader{
  font-family: georgia; 
  font-size: 40px; 
  color: #ddca7e; 
  font-style: italic; 
  text-align: center; 
  margin-top: 31px;
}

::-moz-selection { background: transparent;}
::selection {background: transparent;}
