.RecipeDetail {
    width: 55vw;
    background-color: #64300b;
    opacity: 95%;
    margin: 0 auto;
    padding: 2rem 7rem 4rem 7rem;
    text-align: center;
    font-style: italic;
}
.titleDetail {
  font-size: 2.5rem;
  opacity: 80%;
  margin-top: 1rem;
}
.esp {
  width: 40px;
  height: 3rem;
}
.RecipeDetailPhoto{
    width: 35vw;
    margin: 3rem;
    border-radius: 10%;
}
.abstract {
  padding: 2rem;
  margin: 2rem;
  background-color: #3b1f0b;
  border-radius: 5%;
}
.formChange{
  margin: 3rem;
}
.change {
  margin-bottom:  30px;
}
.danger {
  color: red;
  font-weight: 900;
}
.likeContainer{
  position: absolute; 
  left: 50%; 
  top: 87%; 
}
.likeCnt{  
  position: absolute; 
  background: rgba(31, 6, 223, 0.826);     
  width: 60px; 
  height: 60px;  
  border-radius: 50%;
  text-align: center;
  line-height: 75px;
  z-index: 10;
}
.likeBtn{
  color: rgb(68, 11, 237);
  position: absolute; 
  left: 50%; 
  top: 80%;   
  cursor: pointer;
}


/* ::-moz-selection { background: transparent;}
::selection {background: transparent;} */
